<div class="webmap">
	<div class="foot-container clean">
		<div class="left clean">
			<div class="item">
				<h2>产品服务</h2>
				<ul>
					<li><a href="/?action=product#console">VR直播控制台</a></li>
					<li><a href="/?action=product#vrplay">VR播放器</a></li>
					<li><a href="/?action=product#director">全景云导播台</a></li>
				</ul>
			</div>
			<div class="item">
				<h2>服务与支持</h2>
				<ul>
					<li><a href="/?action=wiki">新手入门</a></li>
					<li><a href="/?action=wiki&cid=2">常见问题</a></li>
					<li><a href="/?action=wiki&cid=3">产品说明</a></li>
					<li><a href="/?action=wiki&cid=7">开发者中心</a></li>
				</ul>
			</div>
			<div class="item">
				<h2>关于目睹</h2>
				<ul>
					<li><a href="/?action=about">关于我们</a></li>
					<li><a href="/?action=read&id=6">用户协议</a></li>
				</ul>
			</div>
			<div class="item">
				<h2>联系我们</h2>
				<div class="call">业务咨询、市场合作</div>
				<div class="qq">客服QQ：</div>
				<div class="location">地址：杭州市西湖区西斗门路3号天堂软件园D幢7楼B座</div>
			</div>
		</div>
		<div class="right twocode">
			<img src="../static/home/img2/foot/twocode.png">
			<div>微信号：imoredoo</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="footer-container">
		<div>
			<p>杭州目睹科技有限公司 版权所有  增值电信业务许可证 浙B2-20140728 | 浙ICP备11034133号-3 | <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602002780" target="_blank">浙公网安备33010602002780</a></p>
		</div>
	</div>
</div>

<div class="online-service">
	<img alt="微信" src="/static/home/img/headfootimg/wechat.png">
	<a href="#"><img alt="回到顶部" src="/static/home/img/headfootimg/totop.png"></a>
	<img id="wechat-twocode" style="display: none;" alt="微信公众号二维码" src="/static/home/img/headfootimg/weixin_erweima.png">
</div>

<div style="display:none">
<script type="text/javascript">
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?a4abd9a8a1fd5405726eef8da4fde410";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
<script src="/static/home/js/jquery.min.js"></script>
<script type="text/javascript">
//右侧联系方式漂浮工具栏
$('.online-service img:eq(0)').bind({
	mouseover:function(){
		$('#wechat-twocode').css('display','block');
		$(this).attr('src','/static/home/img/headfootimg/wechat2.png');
	},
	mouseout:function(){
		$('#wechat-twocode').css('display','none');
		$(this).attr('src','/static/home/img/headfootimg/wechat.png');
	}
})
$('.online-service img:eq(1)').bind({
	mouseover:function(){
		$(this).attr('src','/static/home/img/headfootimg/totop2.png');
	},
	mouseout:function(){
		$(this).attr('src','/static/home/img/headfootimg/totop.png');
	}
})
</script>