<!--[if lt IE 9]>
<div style="background:#fff44a;color:red;position:fixed;width:100%;top:0;z-index:999;padding:5px 0;font-size:14px;"><div style="width:980px;margin:0 auto;">您的浏览器版本较低，建议使用 <a href="https://www.baidu.com/s?wd=chrome%E6%B5%8F%E8%A7%88%E5%99%A8">Chrome 浏览器</a> 或升级最新的 IE 浏览器可以得到更佳的浏览体验。</div></div>
<![endif]-->
<!-- <div class="wrapper">
	<div class="navwrap">
		<div class="header">
			<div class="container clean">
				<div class="left clean">
					<div class="brand"><a href="/">Moredoo</a></div>
				</div>
				<div class="right">
					<ul class="nav clean">
						<li><a href="/" <?php if($params['action'] == 'home') echo ' class="active"'; ?>>首页</a></li>
						<li><a href="/?action=product" <?php if($params['action']=='product') echo ' class="active"'; ?>>产品中心</a></li>
                        <li><a href="/?action=wiki" <?php if($params['action']=='wiki' || $params['action'] == 'read') echo ' class="active"'; ?>>帮助中心</a></li>
                        <?php if($userinfo['userinfo']): ?>
						<li><a href="/console" style="text-align:right;"><span style="float:right;margin-right: 1em"><?= empty($userinfo['userinfo']->mobile)? substr(explode('@',$userinfo['userinfo']->email)[0],0,8).'...' : substr($userinfo['userinfo']->mobile,0,6).'...'; ?></span></a></li>
						<li><a href="/signout" style="text-align:right;width:auto;"><span>退出</span></a></li>
						<?php else: ?>
						<li><a href="/signup"><span style="float: right;margin-right: 1em">注册</span></a></li>
						<li><a href="/console"><span class="login">登录控制台</span></a></li>
						<?php endif; ?>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div> -->
<div class="head">
	<div class="head-wrap clean">
		<div>
			<div class="brand"><a href="/"></a></div>
		</div>
		<div>
			<ul class="clean">
				<li><a href="/" <?php if($params['action'] == 'home' || $params['action'] == 'cases') echo ' class="active"'; ?>>首页</a></li>
				<li><a href="/?action=product" <?php if($params['action']=='product') echo ' class="active"'; ?>>产品</a></li>
				<li><a href="/?action=guangdian" <?php if($params['action']=='guangdian') echo ' class="active"'; ?>>广电</a></li>
				<li><a href="/?action=price" <?php if($params['action']=='price') echo ' class="active"'; ?>>价格</a></li>
				<li><a href="/?action=wiki" <?php if($params['action']=='wiki' || $params['action'] == 'read') echo ' class="active"'; ?>>帮助</a></li>
				<li><a href="/?action=about" <?php if($params['action']=='about') echo ' class="active"'; ?>>关于</a></li>
				<li><a href="javascript:;" class="head-phone">400-961-8610</a></li>
				<!-- <li><a href="javascript:;" class="sign">注册</a></li>
				<li><a href="javascript:;" class="sign" style="right: 25px;">登录控制台</a></li> -->
				<?php if($userinfo['userinfo']): ?>
				<li><a href="/console" class="sign" style="border:none;"><?= empty($userinfo['userinfo']->mobile)? substr(explode('@',$userinfo['userinfo']->email)[0],0,8).'...' : substr($userinfo['userinfo']->mobile,0,6).'...'; ?></a></li>
				<li><a href="/signout" class="sign" style="right: 25px;">退出</a></li>
				<?php else: ?>
				<li style="margin-right: 10px;"><a href="/signup" class="sign">注册</a></li>
				<li style="margin: 0;"><a href="/console" class="sign">登录控制台</a></li>
				<?php endif; ?>
			</ul>
		</div>
	</div>
</div>
