/*reset*/
@media screen and (min-width: 980px)  {
	html,body,.head{
	min-width: 1200px;
}
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
html,body{font:12px "Microsoft YaHei","Arial","Helvetica";color:#333;width:100%;min-height: 100%;overflow: auto;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,iframe{border:none;}
ul,li{list-style:none;}
input, textarea, select,button{*font-size:100%;outline: none;border:none;}
a{color:#FFF;text-decoration:none;}
a:hover{text-decoration: none;}
b{font-weight: normal;}
div,input,span,a,li,ul,form,button,i,b{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}

/*Global*/
.left{float:left;}
.right{float:right;}
.clean:before, .clean:after{content:"";display:table;}
.clean:after{clear:both;}
.clean{zoom:1;}

/* Service */
.online-service{position: fixed;bottom: 300px;right: 0;z-index:9;}
.online-service img{display: block;cursor:pointer;}
.online-service #wechat-twocode{position: absolute;top: 40px;right: 64px;display: none;opacity: 1;}
.online-service #app-twocode{position: absolute;top: 120px;right: 64px;display: none;opacity: 1;}
.olservice{width: 33%;float: left;border-right: 1px solid #ddd;margin-top: 50px;}
.phone{background: url(../img2/index/phone.png) no-repeat 64px center;background-size: 17%;padding-left: 130px;}
.QQ{background: url(../img2/index/QQ.png) no-repeat 85px center;background-size: 17%;padding-left: 155px;}
.email{background: url(../img2/index/email.png) no-repeat 68px center;background-size: 17%;padding-left: 140px;}
.service{font-size: 18px;line-height: 30px;margin-bottom: 10px;}
.service-num{font-size: 18px;color: #666;font-weight: bold;z-index: 99;}
#moredoologo{display:none}

/* Head */
.head{width: 100%;height: 80px;border-bottom: 1px solid rgba(255, 255, 255, 0.3);background:rgba(51, 51, 51, 0);position: absolute;top: 0;z-index: 999;}
.head:hover{background:rgba(51, 51, 51, 0.60);border-bottom: none;}
.head .head-wrap{width: 1160px;height: 80px;margin:0 auto;}
.head .head-wrap .brand{float: left;height: 80px;width: 210px;margin-right: 40px;}
.head .head-wrap .brand a{display: inline-block; width: 100%;height: 100%;background: url(../img2/index/LOGO.png) no-repeat center;}
.head .head-wrap ul{height: 80px;}
.head .head-wrap ul li{float: left;margin-left: 20px;margin-right: 20px;height: 100%;}
.head .head-wrap ul li .head-phone{background: url(../img2/index/head-phone.png) no-repeat 0 center;padding-left: 22px;color: #fff !important;}
.head .head-wrap ul li a{display: inline-block;font-size: 18px;line-height: 80px;height: 80px;text-align: center;}
.head .head-wrap ul li .active{color: #ff6633;}
.head .head-wrap ul li a:hover{color: #ff6633;}
.head .head-wrap ul li .sign{font-size: 16px;display: inline-block;border:1px solid #fff;border-radius: 16px;height: 30px;padding-left: 10px;padding-right: 10px;line-height: 28px;position: relative;top: 25px;border-left-width: 2px;border-right-width: 2px;}
.head .head-wrap ul li .sign:hover{border-color: #ff6633;}

/* register */
.register{width: 100%;padding-top: 20px;background: url(../img2/index/register-bg.jpg) no-repeat center;background-size: cover;height: 204px;}
.register .content{width: 980px;margin: 0 auto;}
.register .content .title-info{font-size: 16px;color: #666;width: 100%;text-align: center;line-height: 30px;}
.register .content .title{margin:0 auto;border-bottom: 1px solid #fff;margin-bottom: 10px;padding-bottom: 6px;font-size: 40px;width: 70%;text-align: center;line-height: 60px;}
.register .content a{display: block;color: #fff;width: 150px;text-align: center;height:45px;line-height: 45px;margin:0 auto;font-size: 20px;margin-top: 10px;margin-bottom:10px;background: #2a9fe4;}
.register .content a:hover{background:#1690D8;}

/* Foot */
.foot-container{width:1050px;margin:0 auto;position: relative;}
.webmap{background:#222;color:#BBB;overflow:hidden;padding:50px 0 25px 0;}
.webmap .item{float:left;width: 200px;}
.webmap .item h2{font-size:18px;color:#CCC;padding-bottom:5px;}
.webmap .item ul{margin-right:40px;}
.webmap .item ul li{width:16em;margin-right:10px;line-height:28px;}
.webmap .item ul li a{color:#999;font-size: 14px;}
.webmap .item ul li a:hover{color: #BDBDBD;}
.footer{background:#131212;color:#999;overflow:hidden;padding:20px 0;}
.footer p{text-align: center;font-size: 14px;}
.call{font-size: 18px;margin-bottom: 20px;background: url(../img2/foot/call.png) no-repeat 0 6px;}
.qq,.location{font-size: 14px;margin-bottom: 5px;}
.call,.qq,.location{padding-left: 20px;}
.qq{background: url(../img2/foot/qq.png) no-repeat 2px 2px;}
.location{background: url(../img2/foot/location.png) no-repeat 4px 2px;}
.twocode div{font-size: 14px;text-align: center;line-height: 24px;}
.twocode .weibo{background: url(../img2/foot/weibo.png) no-repeat 20px center;padding-left: 50px;text-align: left;display: block;}
.footer .footer-container a{background: url(../img2/foot/beian.png) no-repeat;padding-left: 24px;color: #999;}


/* aritcal */
#container-head{width: 100%;height: 380px;background: url(../img2/help/help3.jpg) no-repeat center;background-size: cover;}
#container-head .tab{width: 500px;height: 44px;margin: 0 auto;position: relative;top: 166px;line-height: 44px;}
#container-head .tab a{color: #FFF;font-size: 14px;margin-right: 14px;}
#container-head .tab a:hover{text-decoration: underline;}
#logo{width: 500px;height: 48px;margin: 0 auto;position: relative;top: 155px;z-index: 2;background: url(../img2/help/LOGO.png) no-repeat center;}
#search{width: 500px;height: 44px;margin: 0 auto;position: relative;top: 172px;z-index: 2;}
#input{width: 442px;height: 44px;line-height: 44px;font-size: 18px;float: left;border-top-left-radius: 5px;border-bottom-left-radius: 5px;padding-left: 1em;}
#search button{width: 58px;height: 44px;background: url(../img2/help/banner_ico.png) no-repeat center;float: left;border-top-right-radius: 5px;border-bottom-right-radius: 5px;background-color: #FFF;border-left: 1px solid #ededed;cursor:pointer;opacity: 1;}
#search button:hover{opacity: 0.9;}

#container-wrap{width: 100%;min-height: 694px;background: #f7f7f7;padding-top: 50px;padding-bottom: 50px;}
#aritcal{width: 1000px;min-height: 600px;margin:0 auto;}
#aritcal-left{width: 230px;height: 600px;float: left;}
#left-head{width: 230px;height: 46px;background: #f97600;color: #FFF;padding-left: 22px;font-size: 20px;line-height: 46px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
#aritcal-tab{width: 230px;height: 544px;padding-top: 10px;background: #FFF;border:1px solid #E9E8E8;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
#aritcal-tab li{width: 230px;height: 46px;cursor:pointer;}
#aritcal-tab .tab-button{display: inline-block;width: 228px;height: 46px;background-color: #FFF;font-size: 16px;line-height: 46px;padding-left: 40px;color: #333;}
#aritcal-tab .active{background-color: #EFEEEE;color:#f97600;border-left: 1px solid #ff6633;}
#aritcal-tab .tab-button:hover{background-color: #EFEEEE;color:#f97600;}
input::-webkit-input-placeholder {color: #DDDBD9; }
.tab-button-1{background: url(../img2/help/ico_1.png) no-repeat 8px center;}
.tab-button-2{background: url(../img2/help/ico_2.png) no-repeat 8px center;}
.tab-button-3{background: url(../img2/help/ico_3.png) no-repeat 8px center;}
.tab-button-4{background: url(../img2/help/ico_4.png) no-repeat 8px center;}
.tab-button-5{background: url(../img2/help/ico_5.png) no-repeat 8px center;}
.tab-button-6{background: url(../img2/help/ico_6.png) no-repeat 8px center;}
.tab-button-7{background: url(../img2/help/ico_7.png) no-repeat 8px center;}

.aritcal-right-title{width: 100%;height: 46px;line-height: 46px;font-size: 16px;background:#ebebeb;color: #999;margin-bottom: 10px;padding-left: 36px;}


