/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
html,body{font:12px "Microsoft YaHei","Arial","Helvetica";color:#333;width:100%;height:100%;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input, textarea, select{*font-size:100%;}
a{color:#0370DA;text-decoration:none;}
/*a:hover{text-decoration:underline;}*/
div,li{-webkit-box-sizing:border-box;}

/*Global*/
.left{float:left;}
.right{float:right;}
.clean:before, .clean:after{content:"";display:table;}
.clean:after{clear:both;}
.clean{zoom:1;}
/*homepage*/
/*theme color #ff2b06*/
.container{width:1100px;margin:0 auto;position: relative;}
.wrapper{width:100%;position:relative;}
.header{width:100%;z-index:100;background:#FFF;}
.header .brand{float:left;width:100px;height:60px;line-height:60px;}
.header .brand a{display:block;width:100%;height:100%;overflow:hidden;text-indent:-999px;background:url(../img/headfootimg/logo.png) no-repeat center;}
.header .brand .white{background:url(../img/headfootimg/logo-white.png) no-repeat center;}
.header .nav{float:left;margin-left:50px;height:60px;overflow:hidden;}
.header .nav li{float:left;}
.header .nav li a{text-align:center;display:inline-block;color:#333;font-size:14px;height:60px;line-height:60px;width:110px;overflow:hidden;transition:background 0.5s ease;}
.header .nav li .active{color:#FFF;text-decoration:none;font-weight: bold;}
.header .nav li a:hover{text-decoration:none;font-weight: bold;}
.header .nav li .login{border-radius: 6px;display:inline-block;width: 106px;height: 24px;text-align: center;line-height: 24px;background: #57d68f;}
.product-tips{width: 240px;height: 190px;background: #f97600;position: absolute;left: 240px;top: 60px;padding-right: 4px;display: none;z-index:2;}
.product-tips ul{float: left;width: 102px;margin-left: 16px;}
.product-tips ul li{color: #FFF;font-size: 14px;padding-left: 7px;}
.product-tips .tips-head{line-height: 35px;border-bottom: 1px solid #FFF;}
.product-tips ul li a{line-height: 28px;color: #FFF;}
.product-tips ul li a:hover{color: #333;}

.nav-child{display:none;border-top:solid 1px #F1F1F1;padding:10px 0;}
.nav-child,.nav-child a{color:#333;}
.nav-child a{display:inline-block;padding:0 10px;}
.nav-child a:hover,.nav-child .active{color:#FF6633;}
/*.nav-1{float: left;height:60px;}
.nav-1 a{color: #FFF;display: inline-block;height: 60px;line-height: 60px;}
.nav-1 .res{width: 40px;text-align: center;display: inline-block;}*/

.product-tab{width: 840px;margin: 0 auto;margin-top: -42px;z-index: 2;position: relative;}
.product-tab ul li{float: left;width: 168px;height: 42px;border:1px solid #FFF;border-bottom:none;}
.product-tab ul li a{display:block;font-size: 14px;line-height: 41px;color: #FFF;text-align: center;}
.product-tab ul li a:hover{background:#f97600;text-decoration: none;}
.product-tab ul li .active{background:#f97600;}

.register{width: 100%;height: 138px;background: #ffb20a;color: #FFF;min-width:980px;}
.register p{font-size: 28px;line-height: 78px;text-align: center;}
.register span{display:block;width: 142px;height: 36px;font-size: 16px;line-height: 36px;text-align: center;margin:0 auto;border: 1px solid #FFF;cursor:pointer;color: #FFF;}
.register a:hover{color:#FFF;}

.part-container{width: 100%;background-size: 100% 100%;}
.title{margin: 0 auto;width: 980px;text-align: center;font-size: 40px;word-spacing: 36px;line-height: 70px;background-repeat: no-repeat;background-position: 48% 50%;}
.title-explain{margin: 0 auto;width: 980px;text-align: center;font-size: 20px;}

.webmap{background:#222;color:#BBB;overflow:hidden;padding:50px 0 25px 0;}
.webmap .item{float:left;}
.webmap .item h2{font-size:14px;color:#CCC;padding-bottom:5px;}
.webmap .item ul{margin-right:40px;}
.webmap .item ul li{width:16em;margin-right:10px;line-height:28px;}
.webmap .item ul li a{color:#999;}

.footer{background:#131212;color:#999;overflow:hidden;padding:20px 0;}
.footer p{text-align: center;font-size: 14px;}

.online-service{position: fixed;bottom: 80px;right: 0;z-index:9;}
.online-service img{display: block;cursor:pointer;opacity: 0.7;}
.online-service img:hover{opacity: 1;}
.online-service #wechat-twocode{position: absolute;top: 20px;right: 70px;display: none;opacity: 1;}
.online-service #app-twocode{position: absolute;top: 90px;right: 70px;display: none;opacity: 1;}

#container-head{width: 100%;height: 220px;background: url(../img/help/banner_bg.png) no-repeat center;}
#container-head .tab{width: 500px;height: 44px;margin: 0 auto;position: relative;top: 90px;line-height: 44px;}
#container-head .tab a{color: #FFF;font-size: 14px;margin-right: 14px;}
#container-head .tab a:hover{text-decoration: underline;}
#search{width: 500px;height: 44px;margin: 0 auto;position: relative;top: 90px;z-index: 2;}
#input{width: 442px;height: 44px;line-height: 44px;font-size: 18px;float: left;border-top-left-radius: 5px;border-bottom-left-radius: 5px;padding-left: 1em;}
#search button{width: 58px;height: 44px;background: url(../img/help/banner_ico.png) no-repeat center;float: left;border-top-right-radius: 5px;border-bottom-right-radius: 5px;background-color: #FFF;border-left: 1px solid #ededed;cursor:pointer;opacity: 1;}
#search button:hover{opacity: 0.9;}

#container-wrap{width: 100%;min-height: 694px;background: #f7f7f7;padding-top: 50px;padding-bottom: 50px;}
#aritcal{width: 1000px;min-height: 600px;margin:0 auto;}
#aritcal-left{width: 230px;height: 600px;float: left;}
#left-head{width: 230px;height: 46px;background: #f97600;color: #FFF;padding-left: 22px;font-size: 20px;line-height: 46px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
#aritcal-tab{width: 230px;height: 544px;padding-top: 10px;background: #FFF;border:1px solid #E9E8E8;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
#aritcal-tab li{width: 230px;height: 46px;cursor:pointer;}
#aritcal-tab .tab-button{display: inline-block;width: 228px;height: 46px;background: #FFF;font-size: 16px;line-height: 46px;padding-left: 1.5em;color: #333;}
#aritcal-tab .active{background: #EFEEEE;color:#f97600; }
#aritcal-tab .tab-button:hover{background: #EFEEEE;color:#f97600;}
input::-webkit-input-placeholder {color: #DDDBD9; }

.PageTool{position: absolute;bottom: 15px;width: 680px;}