/* common css */
body{background:#e8eff2;}
.container{background: #fff;padding-bottom: 15px;width: 100%;}
a:hover{text-decoration:none;}

/* alert */
.warning{background: #fff5e5;color: #ff9800;border:1px solid #ffd699;padding:0 0 0 20px;min-height: 34px;line-height: 34px;border-radius: 3px;font-size: 12px;}
.alert-dismissible .close{top:5px;right: 8px;}
.warning .btn{padding: 4px;margin-top: -2px;}

/* panel-head */
.panel-title{width: 100%;height: 40px;line-height: 40px;background: #eaeaea;color: #666;font-size: 16px;
	padding-left: 6px;position: relative;border:none;/*box-shadow:0 1px 1px rgba(0,0,0,0.06);*/}
.container .panel{box-shadow:0 1px 1px rgba(0,0,0,0.06);border:none;}

/* btn */
.Btn{border: none;display:inline-block;text-align: center;color: #FFF;padding: 0;border-radius: 5px;margin-left: 10px;margin-top: -5px;margin-right: 8px; outline: none;
	font-family: "微软雅黑";background: rgb(255, 103, 53);padding:8px 24px;}
.btn:focus, .btn:hover {background: #e14917;color: #FFF;}
.down:hover{background: #e14917;color: #FFF;}
.down:active{background: #e14917;outline: none;}
.btn-sure{padding:8px 24px;}

/* model */
.modal-content{overflow:hidden;border-radius: 2px;box-shadow: none;}
.modal-title{font-size:14px;height: 34px;line-height: 34px;}
.modal-header{background:#ff703e;color:#FFF;border:none;height: 34px;line-height: 34px;padding:0;padding-left: 15px;}
.modal-header .close{margin-top: 5px;margin-right: 5px;}
.modal-content .warning{line-height: 24px;}
.modal-content .modal-body{padding-bottom: 0;}
.modal-content .group-row{margin-bottom: 8px;}
.input-name{line-height: 30px;font-size: 12px;}
.modal-content input{height: 30px;line-height: 30px; background: #f5f5f5;border:1px solid #ededed;border-radius: 2px;color: #999;font-size: 12px;box-shadow: none;}
.modal-footer{text-align:center;border: none;background: none;padding: 10px 0 20px 0;}
.modal-footer .btn2{width: 140px;height: 28px;line-height: 28px;background: #ff703e;font-size: 12px;padding:0;border-radius: 2px;}
.InputNum{color:red;}
#CreateModal .form-control{margin-left: 0;}

/* nav */
.nav_1{margin-bottom: 15px;border-bottom: 2px solid #fb6832;font-family: "微软雅黑";}
.nav_1 li{background-repeat: no-repeat;background-position: 6px center;padding-left: 14px;margin-right: 12px;border-radius: 2px;background-size: 15px 14px;}
.nav_1 li a{color:#333 !important;border:none;font-size: 16px;padding-left: 0;margin-left: 15px;}
.act{background: #fb6832;border:none;}
.nav_1 .act a{color: #FFF !important;border:none;}
.nav_1>li:hover{background-color: #fb6832;}
.nav_1>li>a:hover{background-color: #fb6832;border:none;color: #FFF !important;border-radius: 0;}
.nav_1 li a:visited{background: #fb6832;border:none;color: #FFF;border-radius: 0;}

/* table */
 .table{width: 100%;margin-bottom: 20px;}
 .table .th{background-color: #e5e5e5;color:#666;border-radius: 2px;}
 .table>tbody>tr>td{background: #fff;vertical-align: middle;}

 /* search */
.search{width: 100%;height: 60px;background: #fff;padding-top: 6px;margin-bottom: 20px;border-bottom: 1px solid #ebebeb;}
.search .form-inline{margin-top: 8px;}
.tips{margin-right: 10px;margin-left: 10px;}
.icon{font-size: 12px;color: #CCC;margin:0;}
.search .form-control{padding: 2px 12px;}
.search .form-inline select{height: 30px;border:1px solid #e5e5e5;color: #999;}
.search .form-inline input{width: 180px;height: 30px;border-radius: 2px;border:1px solid #e5e5e5;color: #999;}
.searchBtn{background: #ff6735;border: none;display:inline-block;width: 100px;height: 30px;line-height: 30px;text-align: center;color: #FFF;padding: 0;border-radius: 2px;margin-left: 10px;font-size: 14px;}
.searchBtn:hover{background: #e14917;color: #FFF;}

/* page */
.prev1,.next1{display: inline-block;width: 40px;height: 26px;line-height: 26px;background: rgb(255,102,52);color: #FFF;}
.pagenum,.thisnum{display: inline-block;width: 26px;height: 26px;line-height: 26px;margin-left: 2px;margin-right: 2px;color: #333;}
.pagenum{background: rgb(239,237,243);}
