/* commom reset */
html,body{width:100%;}
body,p{margin:0;padding:0;font:12px "Microsoft YaHei","Arial","Helvetica";}
ul,li{list-style:none;padding:0;margin:0;}
li{vertical-align:top;}
a{text-decoration:none;}
img{border:none;vertical-align:top;}
i{font-style: normal;}
/* 默认样式重置 (css reset)  */
form select{margin:0;padding: 0;}
input,textarea,button{margin:0;padding:0;border: none;outline: none ;}
div,ul,li,span,a,input,iframe,form{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
table,tbody,tr,td{margin: 0;padding: 0;border:none;vertical-align: baseline;}
table{border-collapse: collapse;border-spacing: 0;min-height: 185px;min-width: 185px;}
/* 表单样式重置 (css reset)  */
.clean{zoom:1;}
.clean:after{content:"";display:block;clear:both;}
/* 清浮动*/

/* banner */
.header{width: 100%;height: 160px;margin-bottom: 40px;}
.banner{width:100%;min-width:1246px;height: 100%;}
@media screen and (max-width: 1367px)  {
    .header{height: 112px;}
    .banner{background-size: cover !important;}
}
@media screen and (min-width: 1367px)  {
    .header{height: 160px;}
}

/* Video-Head */
.container{width: 1246px;height: 640px;padding-right: 320px;margin:0 auto;position: relative;}
#videobody{width: 100%;height: 100%;float: left;border-right: 1px solid #FFF;position: relative;padding-top: 70px;}
#video-head{width: 100%;height: 70px;background:#444a4e;padding-right: 370px;position: absolute;top: 0;}
#video-box{width: 100%;height: 100%;position: relative;}
#videoStage{position:absolute;left:0;top:0;width:100%;height:100%;}
#videoStage{background:#000 url(<?php if(!empty($item->cover)):?><?= $item->cover ?><?php else:?>../img2/business/cover.jpg<?php endif; ?>) no-repeat center;background-size: 100% 100%;height: 100%;}
#live-info{width:100%;height: 100%;float: left;color: #FFF;padding-left: 10px;}
#video-title{font-size: 22px;line-height: 34px;margin-top: 10px;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width: 100%;}
#video-notice{font-size: 14px;padding-left: 18px;background: url(../img2/news.png) no-repeat 0 center;width: 62%;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
#video-notice i{color: #ff6531;}
#live-tool{float: right;width: 370px;color: #FFF;position: absolute;right: 0;}
#live-time{width: 100%;height: 35px;text-align: center;line-height: 35px; background: url(../img2/time.png) no-repeat 34% center;font-size: 14px;padding-left: 30%;}
#live-tips{width: 100%;height: 35px;padding-top: 8px;position: relative;}
#live-tips span{font-size:14px;font-family: "黑体";color:#FFF;display: inline-block;height: 16px;line-height: 16px;}
#visiter{padding-left: 22px;background: url(../img2/eyes.png) no-repeat 0 4px;text-align: right;position: absolute;right: 306px;}
#visiter img{float: left;margin-top: 4px;margin-right: 14px;}
#to-phone{padding-left: 33px;background: url(../img2/phone.png) no-repeat 15px;cursor: pointer;padding-right: 15px;border-right: 1px solid #5a6268;width: 108px;border-left: 1px solid #5a6268;position: absolute;right: 183px;}
#to-phone i{z-index: 5;background: #FFF;display:none;position: absolute;top: -140px;left: -20px;border: solid 1px #CCC;line-height: 12px;text-align: center;font-style: normal;padding-bottom: 10px;color: #666;}
#share{cursor: pointer;position: absolute;right: 8px;width: 163px;}
#share .bdsharebuttonbox{display: block !important;width: 126px;height:40px;position: absolute;border-radius: 5px;z-index: 10;top: -10px;left: 45px;}
.bdshare-button-style0-24 a, .bdshare-button-style0-24 .bds_more {background-image: none !important;}
#weixin{background: url(../img2/weixin.png) no-repeat center !important;}
#weibo{background: url(../img2/weibo.png) no-repeat center !important;}
#qq{background: url(../img2/qq.png) no-repeat center !important;}
#zone{background: url(../img2/qzone.png) no-repeat center !important;}
#weixin:hover{background: url(../img2/weixin2.png) no-repeat center !important;opacity: 1 !important;}
#weibo:hover{background: url(../img2/weibo2.png) no-repeat center !important;opacity: 1 !important;}
#qq:hover{background: url(../img2/qq2.png) no-repeat center !important;opacity: 1 !important;}
#zone:hover{background: url(../img2/qzone2.png) no-repeat center !important;opacity: 1 !important;}
#to-phone:hover{background-image: url(../img/phone-hover.png);color: orange;}

/* about */
.about-tab {height: 60px;width: 100%;margin: 0 auto;}
.about-tab li { float: left;cursor: pointer;width: 25%;}
.about-tab .active{border-bottom:1px solid #01253f;color:#01253f; }
.about-tab li a {display: block;width: 100%;height: 60px;font-size: 24px;color: #5E5E5F;padding-top: 26px;padding-left: 10px;padding-right: 180px;overflow: hidden;word-wrap: break-word;}
#video-information{width: 1246px;margin:0 auto;padding-right: 44px;background: url(../img2/bolang.png) no-repeat 1204px 45px;min-height: 60px;}
#video-Infotip{border-bottom: solid 1px #999;margin-bottom: 20px;height: 60px;}
.about{font-size: 18px;min-height: 500px; }
.about img{max-width: 100%;}

/* two code */
.panel-phone{width: 350px;height: 200px;padding: 10px;display: none;position: absolute;top: 35px;left: -30px;background: #fff;z-index: 9999;}
.live-title{font-size: 14px;line-height: 14px;padding-bottom: 10px;border-bottom: 1px solid #ddd;font-weight: 700;width: 100%;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;padding-right: 15%;color: #333;}
.code{float: left;width: 50%;text-align: center;}
.code-title{margin-top:10px;font-size: 16px;line-height: 20px;color: #333;}
.code-img{width: 120px;margin: auto;margin-bottom: 10px;height: 120px;}
.code-img img{display: block;width: 120px;height: 120px;}
.code-right .code-img{padding: 10px;border-left: 1px #ddd solid;margin-left: 0;padding-left: 35px;width: 145px;}
.code-right .code-img img{width: 100px;height: 100px;}

/* foot */
.footer{text-align: center;background: #222222;color: #FFF;width: 100%;height: 60px;padding-top: 23px;margin-top: 78px;}
.footer a{color: #ff6632;}

/* scroll */
::-webkit-scrollbar-track-piece{background-color:rgba(204,204,204,0.8);}
::-webkit-scrollbar{width:6px;height:6px;}
::-webkit-scrollbar-thumb{height:10px;background-color:#999;outline:none;}
::-webkit-scrollbar-thumb:hover{height:10px;background-color:#666;outline:none;}

/* emoji and other */
input::-webkit-input-placeholder{color: #666;}
input::-moz-placeholder{color: #ebebeb;}
#ems{
	width: 290px;
    height: 136px;
    border: 1px solid #666;
    position: absolute;
    bottom: 52px;
    left: 5px;
    background: rgba(102, 102, 102, 0.75);
    overflow: auto;
    border-radius: 5px;
    display: none;
    margin-left: 10px;
    padding-top: 5px;
    padding-left: 8px;
}
#ems li{float: left;}
#ems li img{width: 30px;height: 30px;cursor: pointer;}
#bdshare_weixin_qrcode_dialog{height: 310px !important;width: 260px !important;}
.face{width: 36px;}

#chat-bottom{width:1246px;height: 120px;margin: 0 auto;margin-top: 6px;}
#chat-bottom img{width: 100%;height: 100%;}
#player{width: 100%;height: 100%;position: absolute;top:0;left: 0;border:none;}

/*.bd_weixin_popup .bd_weixin_popup_main table tbody{display: block;min-height: 185px;}
.bd_weixin_popup .bd_weixin_popup_main{min-height: 220px !important;}*/
.fresh{color: #f63;float: right;margin-right: 20px;line-height: 16px;}
.size{width: 5px !important;height:5px !important;}
.bd_weixin_popup .bd_weixin_popup_foot{text-align: center !important;}